@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

head {
    padding: 0px;
}
body {
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0;
    background: #F9FBFD;
    color: #2D2D2D;
}
img {
    height: 150px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 0px;
    letter-spacing: -0.03em
}

.logo {
    color: #000;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    background-color: #ffffff;
    text-align: center;
    margin: auto;
}

.nav-links {
    display: flex;
    margin: auto;
    padding-top: 0px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    letter-spacing: 0;
}

.nav-links a {
    color: #000;
    text-decoration: none;
    padding: 0 40px;
    font-size: 18px;
    background-color: #ffffff;
}
.school-info-container {
    width: 75%;
    margin: auto;
    letter-spacing: -0.05em;
}
.school-info-container img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: auto;
    border-radius: 25px;
    position: relative;
    filter: brightness(70%)
}
.school-info-container h1 {
    font-weight: 600;
}
.header {
    position: relative;
    text-align: center;
    color: white;
}
.text {
     position: absolute;
     bottom: 0px;
     left: 25px;
 }
.chip {
    width: fit-content;
    height: fit-content;
    line-height: 0px;
    background: white;
    border-radius: 20px;
    padding: 2px 14px;
    border: #E3E5EA 2px solid;
    margin-top: 5px;
    margin-right: 10px;
    float: left;
    letter-spacing: -0.03em;
    font-weight: 500;
}
.quick-view-1 {
    width: 75%;
    margin: 40px auto;
}
.qv-left {
    border-radius: 20px;
    background: white;
    border: #E3E5EA 2px solid;
    margin-top: 5px;
    margin-right: 10px;
    width: 30%;
    float: left;
    padding-left: 20px;
}
.qv-right {
    border-radius: 20px;
    background: white;
    border: #E3E5EA 2px solid;
    margin-top: 5px;
    margin-right: 10px;
    float: left;
    width: 61%;
    padding-left: 20px;
}